h4 {
    text-align: center;
}

.carousel-item > img {
    opacity: 0.6;
}

.carousel {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

    #entete {
    position: fixed; /* Make it stick/fixed */

}


.bandeaup {
    height: 100vh;
    width: 100%;
    background-color: #42FFF1;
    padding: 17vh;
}

.bandeaui {
    height: 100vh;
    width: 100%;
    background-color: #FC5726;
    padding: 17vh;
}

.row > .col-4 {
    text-align: center;
}

.thin {
    margin-top: 5vh;
    margin-bottom: 9vh;
}

i {
    font-size: 50px;
}
